[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = ">=2.2.0"
"argon2-cffi" = "*"
django-compressor = "*"
"psycopg2" = "*"
bcrypt = "*"
mysqlclient = "*"
django-haystack = "*"
whoosh = "*"

[dev-packages]
coverage = "*"
django-debug-toolbar = "*"
"flake8" = "*"
pytest = "*"
recommonmark = "*"
sphinx = "*"
sphinx-rtd-theme = "*"
tox = "*"

[requires]
python_version = "3.6"
