/*Bootstrap overwrite css file*/
/*Global Styles*/
body{
    height: 100%;
}
/*Header Styles*/
#header-logo{
    height: 70px;
}
.footer-nav{
    float: none; 
    margin: 0 auto;
}

/*Home Styles*/
.home-container, .event-container{
    margin-top: 40px;
}
#gmap_canvas{
    width:100%;
    height:400px;
    margin-top: 20px;
    margin-bottom: 20px;
    border: 1px solid lightgray;
    border-radius: calc(.25rem - 1px) calc(.25rem - 1px) 0 0;
}
.program-list-card{
    height: 500px;
}
.filter-card{
    height: 325px;
}
.program-list-card .program-list-card-body, .filter-card .list-group{
    overflow-y: scroll;
}
.card-header{
    font-weight: bold;
}
.event-icon{
    float:right;
}
.event-card{
    margin-bottom: 10px;
}
.event-card:hover{
    background-color: #F8F8F8;
    cursor: pointer;
}

/*Event Page Styles*/
.event-page-card i.fa{
    width: 20px;
}
.event-container{
    margin-bottom: 40px;
}