{% include "header.html" %}
<div class="container event-container">
    <h2>Edit Event</h2>
    <p class="text-muted">When you edit your event it will need to be re-submited for approval by the administrators. Until your changes are approved, your event will continue appear search results without your new changes.</p>
    <div class="row">
        <div class="col-12">
            <button type="button" class="btn btn-danger float-right" data-toggle="modal" data-target="#cancelModal">Cancel</button>
        </div>
        <!--Cancel Modal-->
        <div class="modal fade" id="cancelModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Confirmation</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
               Are you sure you want to cancel? The changes to your event will not be saved.
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal"> Nevermind</button>
                <button type="button" class="btn btn-primary" id="cancelBtn">Confirm Cancel</button>

              </div>
            </div>
          </div>
        </div>

        <!--Submit Modal-->
        <div class="modal fade" id="submitModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Submit</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
               Looks Good! Your event updates will be submitted to the administrators for approval. Until your changes are approved, your event will continue appear search results without your new changes.
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal"><i class="fa fa-times" aria-hidden="true"></i> Cancel</button>
                <button type="button" class="btn btn-success" id="submitOkBtn"><i class="fa fa-check" aria-hidden="true"></i> Submit for Approval</button>

              </div>
            </div>
          </div>
        </div>

    </div>

    <form class="needs-validation" method="post" novalidate>
    {% csrf_token %}
      <div class="form-row">
            <div class="col-sm-8">
                <div class="form-group">
                    <label>Program Name</label>
                    <input type="text" class="form-control" placeholder="Program Name..." name="title" value="{{ event.title }}" required>
                    <div class="invalid-feedback">
                        Please provide a name for your program.
                    </div>
                </div>
                <div class="form-group">
                    <label>Description</label>
                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="6" placeholder="Tell us about your program..." name="content" required>{{ event.content }}</textarea>
                    <div class="invalid-feedback">
                        Please provide a description for your program.
                    </div>
                </div>
                <fieldset class="pocFieldset">
                    <legend>Event Location</legend>
                    <div class="form-row">
                        <div class="col-md-4">
                          <label for="loc1">Street Address</label>
                          <input type="text" class="form-control" id="loc1" placeholder="Street Address" value="{{ address.0 }}" required>
                          <div class="invalid-feedback">
                            Please provide a Street Address.
                          </div>
                        </div>
                        <div class="col-md-3">
                          <label for="loc2">City</label>
                          <input type="text" class="form-control" id="loc2" placeholder="City" value ='{{ address.1 }}' required>
                          <div class="invalid-feedback">
                            Please provide a City.
                          </div>
                        </div>
                        <div class="col-md-2">
                          <label for="loc3">State</label>
                          <select class="form-control" id ="loc3" required>
                                <option value="AL"{% ifequal address.2.strip "AL" %} selected{% endifequal %} >AL</option>
                                <option value="AK"{% ifequal address.2.strip "AK" %} selected{% endifequal %}>AK</option>
                                <option value="AR"{% ifequal address.2.strip "AR" %} selected{% endifequal %}>AR</option>
                                <option value="AZ"{% ifequal address.2.strip "AZ" %} selected{% endifequal %}>AZ</option>
                                <option value="CA"{% ifequal address.2.strip "CA" %} selected{% endifequal %}>CA</option>
                                <option value="CO"{% ifequal address.2.strip "CO" %} selected{% endifequal %}>CO</option>
                                <option value="CT"{% ifequal address.2.strip "CT" %} selected{% endifequal %}>CT</option>
                                <option value="DC"{% ifequal address.2.strip "DC" %} selected{% endifequal %}>DC</option>
                                <option value="DE"{% ifequal address.2.strip "DE" %} selected{% endifequal %}>DE</option>
                                <option value="FL"{% ifequal address.2.strip "Fl" %} selected{% endifequal %}>FL</option>
                                <option value="GA"{% ifequal address.2.strip "GA" %} selected{% endifequal %}>GA</option>
                                <option value="HI"{% ifequal address.2.strip "HI" %} selected{% endifequal %}>HI</option>
                                <option value="IA"{% ifequal address.2.strip "IA" %} selected{% endifequal %}>IA</option>
                                <option value="ID"{% ifequal address.2.strip "ID" %} selected{% endifequal %}>ID</option>
                                <option value="IL"{% ifequal address.2.strip "IL" %} selected{% endifequal %}>IL</option>
                                <option value="IN"{% ifequal address.2.strip "IN" %} selected{% endifequal %}>IN</option>
                                <option value="KS"{% ifequal address.2.strip "KS" %} selected{% endifequal %}>KS</option>
                                <option value="KY"{% ifequal address.2.strip "KY" %} selected{% endifequal %}>KY</option>
                                <option value="LA"{% ifequal address.2.strip "LA" %} selected{% endifequal %}>LA</option>
                                <option value="MA"{% ifequal address.2.strip "MA" %} selected{% endifequal %}>MA</option>
                                <option value="MD"{% ifequal address.2.strip "MD" %} selected{% endifequal %}>MD</option>
                                <option value="ME"{% ifequal address.2.strip "ME" %} selected{% endifequal %}>ME</option>
                                <option value="MI"{% ifequal address.2.strip "MI" %} selected{% endifequal %}>MI</option>
                                <option value="MN"{% ifequal address.2.strip "MN" %} selected{% endifequal %}>MN</option>
                                <option value="MO"{% ifequal address.2.strip "MO" %} selected{% endifequal %}>MO</option>
                                <option value="MS"{% ifequal address.2.strip "MS" %} selected{% endifequal %}>MS</option>
                                <option value="MT"{% ifequal address.2.strip "MT" %} selected{% endifequal %}>MT</option>
                                <option value="NC"{% ifequal address.2.strip "NC" %} selected{% endifequal %}>NC</option>
                                <option value="NE"{% ifequal address.2.strip "NE" %} selected{% endifequal %}>NE</option>
                                <option value="NH"{% ifequal address.2.strip "NH" %} selected{% endifequal %}>NH</option>
                                <option value="NJ"{% ifequal address.2.strip "NJ" %} selected{% endifequal %}>NJ</option>
                                <option value="NM"{% ifequal address.2.strip "NM" %} selected{% endifequal %}>NM</option>
                                <option value="NV"{% ifequal address.2.strip "NV" %} selected{% endifequal %}>NV</option>
                                <option value="NY"{% ifequal address.2.strip "NY" %} selected{% endifequal %}>NY</option>
                                <option value="ND"{% ifequal address.2.strip "ND" %} selected{% endifequal %}>ND</option>
                                <option value="OH"{% ifequal address.2.strip "OH" %} selected{% endifequal %}>OH</option>
                                <option value="OK"{% ifequal address.2.strip "OK" %} selected{% endifequal %}>OK</option>
                                <option value="OR"{% ifequal address.2.strip "OR" %} selected{% endifequal %}>OR</option>
                                <option value="PA"{% ifequal address.2.strip "PA" %} selected{% endifequal %}>PA</option>
                                <option value="RI"{% ifequal address.2.strip "RI" %} selected{% endifequal %}>RI</option>
                                <option value="SC"{% ifequal address.2.strip "SC" %} selected{% endifequal %}>SC</option>
                                <option value="SD"{% ifequal address.2.strip "SD" %} selected{% endifequal %}>SD</option>
                                <option value="TN"{% ifequal address.2.strip "TN" %} selected{% endifequal %}>TN</option>
                                <option value="TX"{% ifequal address.2.strip "TX" %} selected{% endifequal %}>TX</option>
                                <option value="UT"{% ifequal address.2.strip "UT" %} selected{% endifequal %}>UT</option>
                                <option value="VT"{% ifequal address.2.strip "VT" %} selected{% endifequal %}>VT</option>
                                <option value="VA"{% ifequal address.2.strip "VA" %} selected{% endifequal %}>VA</option>
                                <option value="WA"{% ifequal address.2.strip "WA" %} selected{% endifequal %}>WA</option>
                                <option value="WI"{% ifequal address.2.strip "WI" %} selected{% endifequal %}>WI</option>
                                <option value="WV"{% ifequal address.2.strip "WV" %} selected{% endifequal %}>WV</option>
                                <option value="WY"{% ifequal address.2.strip "WY" %} selected{% endifequal %}>WY</option>
                            </select>
                          <div class="invalid-feedback">
                            Please provide a valid state.
                          </div>
                        </div>
                        <div class="col-md-3">
                          <label for="loc4">Zip</label>
                          <input type="text" class="form-control" id="loc4" placeholder="Zip" pattern="[0-9]{5}" value='{{ address.3 }}' required>
                          <div class="invalid-feedback">
                            Please provide a valid zip.
                          </div>
                        </div>
                      </div>
                    <div class="form-group">
                        <input type="hidden" class="form-control" id="addressInput" placeholder="Street Address..." name="address" >
                        <input type="hidden" id="lat" name="lat" value="0" readonly>
                        <input type="hidden" id="lng" name="lng" value="0" readonly>
                    </div>
                </fieldset>


                <fieldset class="pocFieldset">
                    <legend>Point of Contact</legend>
                   <div class="form-row">
                        <div class="form-group col-md-4">
                          <label for="contactname">Name</label>
                          <input type="text" class="form-control" id="contactname" placeholder="Name..." name="contact_name" value="{{ event.contact_name }}" required>
                            <div class="invalid-feedback">
                                Please provide your program's contact name.
                            </div>
                        </div>
                        <div class="form-group col-md-4">
                          <label for="email">Email</label>
                          <input type="email" class="form-control" id="email" placeholder="Email..." name="contact_email" value="{{ event.contact_email }}" required>
                            <div class="invalid-feedback">
                                Please provide your program's contact email.
                            </div>
                        </div>
                        <div class="form-group col-md-4">
                          <label for="phone">Phone</label>
                          <input type="tel" class="form-control" id="phone" placeholder="xxx-xxx-xxxx" name="contact_phone" pattern="^\d{3}-\d{3}-\d{4}$" value="{{ event.contact_phone }}" required>
                            <div class="invalid-feedback">
                                Please provide your program's contact phone number and format as xxx-xxx-xxxx.
                            </div>
                        </div>
                      </div>
                 </fieldset>
            </div>
            <div class="col-sm-4">
                <div class="form-group text-left multiBox">
                    <label>Activity</label><br>
                    <select class="form-control custom-select w-100 activitySelect" id="basic" multiple="multiple" name="activity" required>
                    </select>
                    <div class="invalid-feedback">
                        Please select at least one activity.
                    </div>
                </div>
                <div class="form-group">
                    <label>Transportation</label>
                    <select class="form-control" name="transportation"  required>
                        <!--Refactored to match header and forms as well as fix duplicate search bug-->
                        <option value="Not-Provided" {% if 'Not-Provided' == transportation_list_pub %} selected{% endif %}>Not-Provided</option>
                        <option value="Provided" {% if 'Provided' == transportation_list_pub %} selected{% endif %}>Provided</option>
                    </select>
                </div>
                <div class="form-group text-left multiBox">
                    <label>Grades Served</label><br>
                    <select class="custom-select w-100 gradesSelect" id="basic" multiple="multiple" name="grades" required>
                    </select>
                    <div class="invalid-feedback">
                        Please select at least one grade group.
                    </div>
                </div>
                <div class="form-group">
                    <label>Gender</label>
                    <select class="form-control" name="gender" required>
                        <!--Refactored to match header and forms as well as fix duplicate search bug-->gender_list_pub
                        <option name="Non-Specific" {% if 'Non-Specific' == gender_list_pub %} selected{% endif %}>Non-Specific</option>
                        <option name="Female-Only" {% if 'Female-Only' == gender_list_pub %} selected{% endif %}>Female-Only</option>
                        <option name="Male-Only" {% if 'Male-Only' == gender_list_pub %} selected{% endif %}>Male-Only</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="fees">Fees</label>
                    <div class="input-group mb-3">
                      <div class="input-group-prepend">
                        <span class="input-group-text">$</span>
                      </div>
                      <input type="number" class="form-control" aria-label="Amount (to the nearest dollar)" placeholder="0.00" name="fees" step=".01" value='{{ fees }}' required>
                        <div class="invalid-feedback">
                            Please enter total amount of fees. If the program is free enter 0.00
                        </div>
                    </div>

                </div>
                <div class="form-group text-left multiBox">
                    <label>Timing</label><br>
                    <select class="custom-select w-100 timingSelect" id="basic" multiple="multiple" name="timing" required>
                    </select>
                     <div class="invalid-feedback">
                        Please select at least one time.
                    </div>
                </div>
                <div class="form-group">
                    <label>Website (optional)</label>
                    <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="http://" name="website" value="{{ event.website }}">
                </div>


            </div>
        </div>

      <button class="btn btn-success float-right" type="submit">Validate Event</button>
    </form>


</div>
<script>

    //Cancel Button and Ok Button returns to provider page
    var cancelBtn = document.getElementById('cancelBtn');
    cancelBtn.onclick = function(){
        window.location = '/provider.html'
    }
    var okBtn = document.getElementById('submitOkBtn');
    okBtn.onclick = function(){
        //SUBMITS the form
        $('form').submit()
    }

    //fill checkbox selects
    fillCheckboxSelects(activityList,"activitySelect");
    fillCheckboxSelects(gradesList,"gradesSelect");
    fillCheckboxSelects(timingList,"timingSelect");

    //Use 3rd party code to make checkbox select
    $('.custom-select').multiselect({
        templates: {
            li: '<li><a href="javascript:void(0);"><label class="pl-2"></label></a></li>'
        }
    });
    $(".multiselect-container").addClass('w-100');
    $(".multiBox .btn-group").addClass('w-100');

    //fill helper function
    function fillCheckboxSelects(list, location){
      var selected = [];
      if(location == "activitySelect"){
        selected = {{ topic_list|safe }};
      }else if(location == "gradesSelect"){
        selected = {{ grades_list_pub|safe }};
      }else if(location == "timingSelect"){
        selected = {{ timing_list_pub|safe }};
      }
      for(var i=0; i<list.length; i++){
            //check for name with spaces
            var words = list[i].split(" ")
            if(words.length > 1){
                //value names cannot have a slash in it or it won't show up
               var name = words[0].replace(/^\/|\/$/g, '')
            }else{
                var name = list[i]
            }
            var selectedText = ''
            if (selected.includes(list[i])){
              selectedText=' selected'
            }
            $( "."+location).append( "<option value=\""+list[i]+"\""+selectedText+">"+list[i]+"</option>" );
        }
    }


    //Validation
    (function() {
      'use strict';
      window.addEventListener('load', function() {
        // Fetch all the forms we want to apply custom Bootstrap validation styles to
        var forms = document.getElementsByClassName('needs-validation');
        // Loop over them and prevent submission
        var validation = Array.prototype.filter.call(forms, function(form) {
          form.addEventListener('submit', function(event) {
            combineLocation();
            if(form.checkValidity() === false) {
              event.preventDefault();
              event.stopPropagation();
            }else{
                event.preventDefault();
                event.stopPropagation();
                //IF CLIENT SIDE VALIDATION WORKS YOU END UP HERE
                doGeocoding().then(function(results){
                    //sends an alert if something is wrong with the geocoding.
                    if(geoCheck() === false){
                        alert('There was a problem finding your event location.')
                    }else{
                        $('#submitModal').modal('show');
                    }
                });

            }
            form.classList.add('was-validated');

            //validation style fix for multiselect
            var multiList = document.getElementsByClassName("multiBox");
            for(var i=0; i<multiList.length;i++){
                var message = $(multiList[i]).find(".invalid-feedback")[0]
                var button = $(multiList[i]).find(".btn-group").find(".multiselect")[0]
                if($(message).css('display') == 'block'){
                    $(button).css('border', 'solid 1px #dc3545')
                }else{
                    $(button).css('border', 'solid 1px #28a745')
                    $(button).find("i").remove();
                    $(button).append('<i class="fa fa-check" aria-hidden="true" style="color:#28a745;padding-top:5px;padding-right:5px;"></i>')
                }
                var liList = $(multiList[i]).find("li")
                for(var x=0; x<liList.length;x++){
                    var checkbox = $(liList[x]).find("input")[0]
                    $(checkbox).change(function() {
                        var parentBtn = $(this).parentsUntil(".multiBox")[4].firstChild
                        var label = parentBtn.firstChild
                        var txt = $(label).text()
                        if(txt == "None selected"){
                            //error make red and
                            $(parentBtn).css('border', 'solid 1px #dc3545')
                            $(parentBtn).find("i").remove();
                            $(parentBtn).append('<i class="fa fa-times" aria-hidden="true" style="color:#dc3545;padding-top:5px;padding-right:5px;"></i>')
                        }else{
                            //for more than one checkbox remove all then add one
                            $(parentBtn).find("i").remove();
                            $(parentBtn).css('border', 'solid 1px #28a745')
                            $(parentBtn).append('<i class="fa fa-check" aria-hidden="true" style="color:#28a745;padding-top:5px;padding-right:5px;"></i>')
                        }
                    });
                }
            }
            });
          }, false);
        }, false);
    })();

    function combineLocation(){
        //put location items in hidden input val
        var street = $('#loc1').val();
        var city = $('#loc2').val();
        var state = $('#loc3').val();
        var zip = $('#loc4').val();
        $('#addressInput').val(street+"+ "+city+"+ "+state+"+ "+zip)
    }

    //function that geocodes the street address
    function doGeocoding(){
        var streetString = $('#addressInput').val();
        var api_url = 'http://www.mapquestapi.com/geocoding/v1/address?key=nEoQhpyWJ6K3nx0wsur3eVa4oYAfhvhY&location='+streetString
        return fetch(api_url).then((resp) => resp.json()).then(function(data) {
            if(data.info.statuscode === 0){
                 $('#lat').val(data.results[0].locations[0].latLng.lat)
                 $('#lng').val(data.results[0].locations[0].latLng.lng)
                 return true;
            }else{
                 $('#lat').val('nil')
                 $('#lng').val('nil')
                return false;
            }
          }).catch(function(error) {
            $('#lat').val('nil')
            $('#lng').val('nil')
            console.log(error);
            return false;
        });
    }

    //function to check if the geocoding worked
    function geoCheck(){
        if($('#lat').val() === 'nil' || $('#lng').val() === 'nil'){
            return false;
        }else{
            return true;
        }
    }


	//phone number auto-format
	//the dashes between phone numbers will auto fill while typing
	function phone_formatting(ele,restore) {
	  var new_number,
		  selection_start = ele.selectionStart,
		  selection_end = ele.selectionEnd,
		  number = ele.value.replace(/\D/g,'');

	  // automatically add dashes
	  if (number.length > 2) {
		// matches: 123 || 123-4 || 123-45
		new_number = number.substring(0,3) + '-';
		if (number.length === 4 || number.length === 5) {
		  // matches: 123-4 || 123-45
		  new_number += number.substr(3);
		}
		else if (number.length > 5) {
		  // matches: 123-456 || 123-456-7 || 123-456-789
		  new_number += number.substring(3,6) + '-';
		}
		if (number.length > 6) {
		  // matches: 123-456-7 || 123-456-789 || 123-456-7890
		  new_number += number.substring(6);
		}
	  }
	  else {
		new_number = number;
	  }

	  // if value is heigher than 12, last number is dropped
	  // if inserting a number before the last character, numbers
	  // are shifted right, only 12 characters will show
	  ele.value =  (new_number.length > 12) ? new_number.substring(0,12) : new_number;

	  // restore cursor selection,
	  // prevent it from going to the end
	  // UNLESS
	  // cursor was at the end AND a dash was added

	  if (new_number.slice(-1) === '-' && restore === false
		  && (new_number.length === 8 && selection_end === 7)
			  || (new_number.length === 4 && selection_end === 3)) {
		  selection_start = new_number.length;
		  selection_end = new_number.length;
	  }
	  else if (restore === 'revert') {
		selection_start--;
		selection_end--;
	  }
	  ele.setSelectionRange(selection_start, selection_end);

	}

	function phone_number_check(field,e) {
	  var key_code = e.keyCode,
		  key_string = String.fromCharCode(key_code),
		  press_delete = false,
		  dash_key = 189,
		  delete_key = [8,46],
		  direction_key = [33,34,35,36,37,38,39,40],
		  selection_end = field.selectionEnd;

	  // delete key was pressed
	  if (delete_key.indexOf(key_code) > -1) {
		press_delete = true;
	  }

	  // only force formatting is a number or delete key was pressed
	  if (key_string.match(/^\d+$/) || press_delete) {
		phone_formatting(field,press_delete);
	  }
	  // do nothing for direction keys, keep their default actions
	  else if(direction_key.indexOf(key_code) > -1) {
		// do nothing
	  }
	  else if(dash_key === key_code) {
		if (selection_end === field.value.length) {
		  field.value = field.value.slice(0,-1)
		}
		else {
		  field.value = field.value.substring(0,(selection_end - 1)) + field.value.substr(selection_end)
		  field.selectionEnd = selection_end - 1;
		}
	  }
	  // all other non numerical key presses, remove their value
	  else {
		e.preventDefault();
	//    field.value = field.value.replace(/[^0-9\-]/g,'')
		phone_formatting(field,'revert');
	  }

	}

	document.getElementById('phone').onkeyup = function(e) {
	  phone_number_check(this,e);
	}

</script>
{% include "footer.html" %}
