
        <footer class="footer">
          <div class="container">
            <nav class="navbar navbar-expand-sm navbar-light">
                <div class="navbar-nav footer-nav">
                  <a class="nav-item nav-link" href="https://www.monroecounty.gov/" target="_blank">Monroe</a>
                  <a class="nav-item nav-link" href="/aboutContact.html">About</a>
                  <a class="nav-item nav-link" href="/aboutContact.html#contact">Contact</a>
                </div>
            </nav>
          </div>
        </footer>
    </body>
</html>
